./webserver/.terraform
./autoscaling/.terraform
./elb-asg/.terraform
./Jenkins/jenkins/.terrafrom
./Jenkins/remote_state/.terraform
./lambda/.terraform
./ecs-asg/iam-instance/.terraform
./ecs-asg/ecs-asg/.terraform
./w7/.terraform
./webserver/variable.tf
./autoscaling/variable.tf
./elb-asg/variable.tf
./Jenkins/remote_state/variable.tf
./Jenkins/jenkins/variable.tf
./lambda/variable.tf
./ecs-asg/iam-instance/variable.tf
./ecs-asg/ecs-asg/variable.tf
./w7/variable.tf
./answers